.about-us{
    background: url(../images/about-us-banner.jpg) no-repeat center center;
    background-size: cover;
}

.team{
    background: url(../images/team-banner.jpg) no-repeat center center;
    background-size: cover;
}

.contact{
    background: url(../images/contact-banner.jpg) no-repeat center center;
    background-size: cover;
}

.btn {
    padding: 13px 20px 13px 20px;
}